[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu113"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu113"
verify_ssl = true
name = "downloadpytorch"

[packages]
numpy = "*"
pandas = "*"
tqdm = "*"
scipy = "*"
scikit-learn = "*"
pillow = "*"
matplotlib = "*"
jupyter = "*"
seaborn = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
