[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
numpy = "*"
pandas = "*"
tqdm = "*"
scipy = "*"
scikit-learn = "*"
pillow = "*"
matplotlib = "*"
jupyter = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
mypy = "*"

[requires]
python_version = "3.7"
